@model ChangePasswordViewModel
@{
    ViewData["Title"] = "تغيير كلمة المرور";
}

<div class="changePassword">

    <div class="top mt-4">
        <div class="row">
            <div class="col-sm-6">
                <h2><i class="fa fa-cogs fa-2x"></i> @ViewData["Title"]</h2>
            </div>

            <div class="col-sm-6">
            </div>
        </div>
    </div>

    <hr />

    <div class="dashboardForm">
        <div class="defaultForm mt-5">
            <form asp-action="ChangePassword" asp-controller="cp" method="post" role="form">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-floating">
                    <input class="form-control" asp-for="NewPassword" placeholder="كلمة المرور" aria-label="Password">
                    <label asp-for="NewPassword">كلمة المرور</label>
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>

                <br />
                <br />

                <div class="form-floating">
                    <input class="form-control" asp-for="ConfirmPassword" placeholder="تكرار كلمة المرور" aria-label="Password">
                    <label asp-for="ConfirmPassword">تكرار كلمة المرور</label>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="text-center">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-lg btn-primary btn-lg w-100 mt-4 mb-0">تغيير كلمة المرور</button>
                </div>
            </form>
        </div>

    </div>
</div>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}